<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>889061256254-md1avtcbl053masqond8lnrvqarbpk4j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.889061256254-md1avtcbl053masqond8lnrvqarbpk4j</string>
	<key>API_KEY</key>
	<string>AIzaSyCwv_hlHn7mTZeoxyWHeXllYwIFDuvj3fY</string>
	<key>GCM_SENDER_ID</key>
	<string>889061256254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterBootstrap</string>
	<key>PROJECT_ID</key>
	<string>flutter-bootstrap-e6b14</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-bootstrap-e6b14.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:889061256254:ios:c0bc208010ca5aaca6756f</string>
</dict>
</plist>